<!-- Resumo das informações Básicas do Concluinte -->
<div class="studentProfile">

  <md-card class="studentProfile-card">
    <div>
        <div class="student">
          <div class="icon">
            <md-icon>account_circle</md-icon> 
          </div>
            
          <div class="dados"> 
            <div>{{student?.name}}</div> 
            <div>CPF: {{student?.cpf_number}}</div>        
          </div>
        </div>

      <div class="modality">
        <div class="subtitle">Modalidade:</div>
        <div>{{student?.modality.description}}</div>
      </div>
   </div>
   
  </md-card>
  

<!-- Dados Pessoais -->
    
      
    <md-card class="studentProfile-card">
        <span><h3>Dados Pessoais:</h3> </span>
        <p><b> RG:</b> &nbsp; {{student?.rg_number}} </p>
        <p><b>Sexo:</b> {{sexo?.description}} </p> 
        <p><b>Data Nascimento:</b> &nbsp; {{student?.birth_date | date:'dd/MM/y'}} </p>
        <p><b>Cor/Etnia:</b> &nbsp; {{student?.ethnicity.description}}</p>
        <p><b>Tipo de escola:</b> {{origin}} </p> 
        <p><b>Possui alguma Deficiência:</b> {{(student?.disability) ? 'Sim,' : 'Não'}} 
         <span *ngIf="student?.disability">{{student?.disability.description}}</span> </p> 
    </md-card>
      
    <!-- Dados Escolar -->
      
    <md-card class="studentProfile-card">
        <span>Dados Escolar:</span>
        <p><b>Área Tecnologica:</b> &nbsp; {{student?.area.description}} </p>
        <p><b>Curso:</b>&nbsp; {{student?.course.description}}</p>
        <p><b>DR:</b> &nbsp; {{student?.regional}}</p>
        <p><b>Turma:</b> &nbsp; {{student?.class}}</p>
        <p><b>Período:</b> &nbsp; {{mesInicio?.valueView}}/{{student?.start_year}} - {{mesFim?.valueView}}/{{student?.end_year}}</p>
        <p><b>Ocupação:</b> &nbsp; {{student?.occupation.description}}</p>
        <p><b>EAD:</b> {{(student?.distance_education) ? 'Sim' : 'Não'}} </p> 
        <p><b>Convênio:</b> {{(student?.agreement) ? 'Sim,' : 'Não'}}
          <span *ngIf="student?.agreement">{{student?.agreement_name}}</span></p> 
        <p><b>Gratuidade Regimental:</b> {{(student?.regimental_gratuity) ? 'Sim' : 'Não'}}</p> 
        <p><b>Pronatec:</b> {{(student?.pronatec) ? 'Sim,' : 'Não'}}
          <span *ngIf="student?.pronatec">{{bolsas?.description}}</span></p> <!-- Fazer pipe-->
    </md-card>
      
    

    <!-- Dados Contato -->
      
    <md-card class="studentProfile-card">
        <span>Dados Contato:</span>
        <p><b>Endereço:</b> &nbsp; {{student?.address}}</p>
        <p><b>Número:</b> &nbsp; {{student?.address_number}}</p>
        <p><b>Complemento:</b> &nbsp; {{student?.address_complement}}</p>
        <p><b>Bairro:</b> &nbsp; {{student?.address_district}}</p>
        <p><b>Cidade:</b> &nbsp; {{student?.city.description}}</p>
        <p><b>UF:</b> &nbsp; {{student?.city.state}}</p>
        <p><b>CEP:</b> &nbsp; {{student?.address_zip_code}}</p>
        <p><b>Tel. Residencial</b>: &nbsp; {{student?.home_phone}}</p>
        <p><b>Celular:</b> &nbsp; {{student?.cell_phone}}</p>
        <p><b>Tel. Recado:</b> &nbsp; {{student?.alternative_phone}}</p>
        <p><b>Email:</b> &nbsp; {{student?.email}}</p>
    </md-card>
      

      <!-- Dados Situação Profissional -->
      
    <md-card class="studentProfile-card">
        <span>Situação Profissional:</span>
        <p><b>Trabalho/Estágio de Forma Remunerada:</b> {{(student?.answers[0]?.alternative_id == 1)  ? 'Sim' : 'Não'}} </p>      
        <p><b>Situação Profissional:</b> {{ (student?.answers[1]?.complement) ? student?.answers[1]?.complement : situacao?.description  }} </p>
        <p><b>Remuneração Mensal:</b> {{ remuneracao?.description }}</p>
    </md-card>
     
      

        

      
  
</div>
