<!-- Resumo das informações Básicas do Concluinte -->
<div class="studentProfile">

  <md-card class="studentProfile-card">
    <div>
        <div class="student">
          <div class="icon">
            <md-icon>account_circle</md-icon> 
          </div>
            
          <div class="dados"> 
            <div>{{student?.name}}</div> 
            <div>CPF: {{student?.cpf_number}}</div>        
          </div>
        </div>

      <div class="modality">
        <div class="subtitle">Modalidade:</div>
        <div>{{student?.modality.description}}</div>
      </div>
   </div>
   
  </md-card>
  

<!-- Dados Pessoais -->
    
      
    <md-card class="studentProfile-card">
        <span>Dados Pessoais: </span>
        <div><b> RG:</b> &nbsp; {{student?.rg_number}} </div>
        <div>Sexo: Feminino </div> <!-- Fazer pipe-->
        <div>Data Nascimento: &nbsp; {{student?.birth_date}} </div>
        <div>Cor/Etnia: &nbsp; {{student?.ethnicity.description}}</div>
        <div>Tipo de escola: Pública</div> <!-- Fazer pipe-->
        <div>Possui alguma Deficiência: Sim, {{student?.disability.description}} </div> <!-- Fazer pipe-->
    </md-card>
      
    <!-- Dados Escolar -->
      
    <md-card class="studentProfile-card">
        <span>Dados Escolar:</span>
        <div>Área Tecnologica: &nbsp; {{student?.area.description}} </div>
        <div>Curso:&nbsp; {{student?.course.description}}</div>
        <div>DR: &nbsp; {{student?.regional}}</div>
        <div>Turma: &nbsp; {{student?.class}}</div>
        <div>Período: &nbsp; {{student?.start_month}}/{{student?.start_year}} - {{student?.end_month}}/{{student?.end_year}}</div>
        <div>Ocupação: &nbsp; {{student?.occupation.description}}</div>
        <div>EAD: &nbsp; Não </div> <!-- Fazer pipe-->
        <div>Convênio: &nbsp; Não</div> <!-- Fazer pipe-->
        <div>Gratuidade Regimental: &nbsp; Não</div> <!-- Fazer pipe-->
        <div>Pronatec: &nbsp; Sim, {{student?.pronatec.description}}</div> <!-- Fazer pipe-->
    </md-card>
      
    

    <!-- Dados Contato -->
      
    <md-card class="studentProfile-card">
        <span>Dados Contato:</span>
        <div>Endereço: </div>
        <div>Número: </div>
        <div>Complemento: </div>
        <div>Bairro: </div>
        <div>Cidade: </div>
        <div>UF: </div>
        <div>CEP: </div>
        <div>Tel. Residencial: </div>
        <div>Celular: </div>
        <div>Tel. Recado: </div>
        <div>Email: </div>
    </md-card>
      

      <!-- Dados Situação Profissional -->
      
    <md-card class="studentProfile-card">
        <span>Situação Profissional:</span>
        <div>Trabalho/Estágio de Forma Remunerada: </div>
        <div>Situação Profissional: </div>
        <div>Remuneração Mensal: </div>
    </md-card>
     
      

        

      
  
</div>
